<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset=utf-8/>
        <title>website</title>
        
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    </head>
    
    <script id="list-template" type="text/x-handlebars-template">
		{{#if this}}
			{{#each this}}
			<tr>
				<td>{{id}}</td>
				<td>{{{boardLink id title}}}</td>
				<td>{{writer}}</td>
			</tr>
			{{/each}}
		{{/if}}		 
	</script>

	<script th:inline="javascript">/*<![CDATA[*/
		$(function()
		{
			loadBoardList();
		})

		function loadBoardList()
		{	
			$.ajax({
				url : /*[[@{|/boardList|}]]*/,
				type : "get",
				cache : false,
				contentType : false,
				processData : false,
				success : function(data) {
					var source = $("#list-template").html();
					var template = Handlebars.compile(source);
					var itemList = template(data); 
					
					$('#postList').html(itemList);
				}
			});
		}

		Handlebars.registerHelper('boardLink', function(id, title){
			return "<a href='/webExample/board/"+id+"'>"+title+"</a>";
		});

		/*]]>*/
	</script>
	<body>
		<div id="header">
			<h3>BOARD</h3>
			<a th:href="@{/logout}">로그아웃</a>
        </div>
        <div id="boards">
			<div style="background-color: bisque; width: fit-content;"><a th:href="@{/newBoard}"> new </a></div>
            <table id="listTable" style="border: 1px solid black; width: 70%;">
                <thead>
                    <tr>
                        <th >No</th>
                        <th>제목</th>
                        <th>작성자</th>
                    </tr>
                </thead>
                <tbody id="postList"></tbody>
            </table>
        </div>
	</body>
</html>