<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset=utf-8/>
		<title>website</title>
		
		<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
		<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
	</head>

	<style>
		.ellipsis
		{
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 500px;
			display: block; 
		}

	</style>
	
	<script id="list-template" type="text/x-handlebars-template">
		{{pageMaker.criteria.currentPage}}
		{{#if list}}
			{{#each list}}
			<tr>
				<td>{{boardNo @index ../pageMaker}}</td>
				<td class="ellipsis">{{{boardLink id title}}}</td>
				<td>{{writer}}</td>
				<td>{{viewCount}}</td>
			</tr>
			{{/each}}
		{{else}}
			<td>데이터 없음</td>
		{{/if}}		 
	</script>

	<script id="page-template" type="text/x-handlebars-template">
		{{# pageMaker}}
			{{#if prev}} <a id="prev" onclick="setCurrentPage({{startPage}}-1)"> < </a> {{/if}}
			{{#if pageButton}}
				{{#each pageButton}}
					<a onclick="setCurrentPage({{this}})">{{this}}</a>
				{{/each}}
			{{/if}}
			{{#if next}} <a id="next" onclick="setCurrentPage({{endPage}}+1)"> > </a> {{/if}}
		{{/ pageMaker}}
	</script>
	
	<script th:inline="javascript">/*<![CDATA[*/
		$(function()
		{
			loadBoardList();

			document.getElementById("searchVal").onkeypress = function(e)
			{
				var key = e.charCode || e.keyCode || 0;     
				if (key == 13)
				{
					setSearchData();
				}
			}
		})

		function loadBoardList()
		{	
				var currentPage = $("#currentPage").val();
				var searchValue = $("#searchValue").val();
				var searchType = $("#searchType").val();

			$.ajax({
				url : /*[[@{|/boardList|}]]*/,
				type : "get",
				data : {"currentPage" : currentPage, "searchValue" : searchValue, "searchType" : searchType},
				cache : false,
				success : function(data) {
					var source = $("#list-template").html();
					var template = Handlebars.compile(source);
					var itemList = template(data); 

					var source2 = $("#page-template").html();
					var template2 = Handlebars.compile(source2);
					var itemList2 = template2(data); 
					
					$('#postList').html(itemList);
					$('#pageButtonDiv').html(itemList2);
				}
			});
		}

		function setSearchData()
		{
			$("#searchValue").val($("#searchVal").val());
			$("#currentPage").val(1);
			loadBoardList();
		}

		function setCurrentPage(id)
		{
			$("#currentPage").val(id);
			loadBoardList();
		}

		Handlebars.registerHelper('boardLink', function(id, title){
			return "<a href='/webExample/board/"+id+"'>"+title+"</a>";
		});

		Handlebars.registerHelper('boardNo', function(index, pageMaker){
			return index+1+((pageMaker.criteria.currentPage-1)*pageMaker.criteria.perPageNum);
		});

		

		/*]]>*/
	</script>
	<body>
		<div id="header">
			<h3>BOARD</h3>
			<p th:text="${user.name}"></p><a th:href="@{/logout}">로그아웃</a>
		</div>
		<div id="boards" style="width: 1000px;">
			<div style="background-color: bisque; width: fit-content;"><a th:href="@{/newBoard}"> new </a></div>
			<div>
				<form id="searchForm" onsubmit="return false;">
					<select id="searchType">
						<option id="titleOnly" selected="selected" value="1">제목</option>
						<option id="titleContent" value="2">제목+내용</option>
						<option id="writerOnly" value="3">작성자</option>
					</select>
					<input type="text" id="searchVal"/>
					<button type="button" id="searchButton" onclick="setSearchData()">검색</button>
				</form>
			</div>
			<table id="listTable" style="border: 1px solid black; width: auto;">
				<thead>
					<tr>
						<th>No</th>
						<th>제목</th>
						<th>작성자</th>
						<th>조회수</th>
					</tr>
				</thead>
				<tbody id="postList"></tbody>
			</table>
			</div>
			<div id="pageButtonDiv">
			</div>
			<form id="pageForm">
				<input type="hidden" id="currentPage" name="currentPage" value="1"/>
				<input type="hidden" id="searchValue" name="searchValue" />
			</form>
		</div>
	</body>
</html>