<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset=utf-8/>
		<title>website</title>
		
		<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
		<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
	</head>
	<script th:inline="javascript">/*<![CDATA[*/
		
		function registerUser()
		{
			$(".err").remove();

			if($("#name").val() == ""){
			$('#name').after('<span class="err" style="color:red;">'+"이름 공란"+'</span>');
			return;
			}

			if($("#login").val() == ""){
			$('#login').after('<span class="err" style="color:red;">'+"아이디 공란"+'</span>');
			return;
			}

			if($("#password").val() == ""){
			$('#password').after('<span class="err" style="color:red;">'+"비밀번호 공란"+'</span>');
			return;
			}

			if($("#passwordCheck").val() == ""){
			$('#passwordCheck').after('<span class="err" style="color:red;">'+"비밀번호 확인 공란"+'</span>');
			return;
			}else if($("#passwordCheck").val() != $("#password").val()){
			$('#passwordCheck').after('<span class="err" style="color:red;">'+"비밀번호 불일치"+'</span>');
			return;
			}

			$.ajax({
				url : /*[[@{|/register|}]]*/,
				type : "POST",
				cache : false,
				data : new FormData(document.getElementById("reigisterForm")),
				contentType : false,
				processData : false,
				success : function(data) {
					if(data == "success")
					{
						location.href=/*[[@{|/login|}]]*/
					}
					else
					{
						$('#login').after('<span class="err" style="color:red;">'+"아이디 중복"+'</span>');
					}
				}
			});
		}
		/*]]>*/
	</script>
	<body>
		<div id="register">
			<form id="reigisterForm">
				<label>이름</label><input type="text" id="name" name="name"/><br/>
				<label>아이디</label><input type="text" id="login" name="login"/><br/>
				<label>비밀번호</label><input type="password" name="password" id="password"/><br/>
				<label>비밀번호 확인</label><input type="password" name="passwordCheck" id="passwordCheck"/><br/>
				<button type="button" id="registerButton" onclick="registerUser()">회원가입</button>
			</form>
		</div>
	</body>
</html>