<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset=utf-8/>
		<title>website</title>
		
		<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
		<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
	</head>
	<script th:inline="javascript">/*<![CDATA[*/
		$(function()
		{
			$("errorText").hide();
		})
		/*]]>*/
	</script>
	<body>
		<div id="register">
			<form id="reigisterForm" th:action="@{/register}" method="POST">
				<label>이름</label><input type="text" id="name" name="name"/>
				<p name="errorText" style="color: red;" th:text="${nameBlank}"></p>

				<label>아이디</label><input type="text" name="login"/>
				<p name="errorText" style="color: red;" th:text="${idBlank}"></p>
				<p name="errorText" style="color: red;" th:text="${idDuplicate}"></p>

				<label>비밀번호</label><input type="password" name="password"/>
				<p name="errorText" style="color: red;" th:text="${pwdBlank}"></p>

				<label>비밀번호 확인</label><input type="password" name="passwordCheck" id="passwordCheck"/>
				<p name="errorText" style="color: red;" th:text="${errorPwdCheck}"></p>

				<input type="submit" id="registerButton" value="회원가입"/>
			</form>
		</div>
	</body>
</html>