<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.website.mapper.BoardMapper">
	<resultMap id="BaseResultMap" type="com.example.website.model.Board">
		<id column="ID" jdbcType="INTEGER" property="id"/>
		<result column="TITLE" jdbcType="VARCHAR" property="title"/>
		<result column="CONTENT" jdbcType="VARCHAR" property="content"/>
		<result column="VIEW_COUNT" jdbcType="INTEGER" property="viewCount"/>
		<result column="USER_ID" jdbcType="INTEGER" property="userId"/>
		<result column="DATE_TIME" jdbcType="TIMESTAMP" property="dateTime"/>
	</resultMap>

	<insert id="insertBoard" parameterType="com.example.website.model.Board">
		INSERT into tb_board (title, content, user_id, date_time)
		VALUES (#{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, NOW())
	</insert>

	<select id="selectBoardList" resultType="com.example.website.model.Board" parameterType="com.example.website.model.Criteria">
		SELECT b.id, b.title, b.view_count as viewCount, u.name as writer
		from tb_board AS b
		LEFT JOIN tb_user AS u ON b.user_id = u.id
		<if test="titleSearch != null and titleSearch != ''">
			WHERE b.title LIKE CONCAT('%', #{titleSearch,jdbcType=VARCHAR},'%')
		</if>
		ORDER BY b.id DESC
		LIMIT #{startPageNum,jdbcType=INTEGER}, #{perPageNum,jdbcType=INTEGER}
	</select>

	<select id="selectTotalCount" resultType="java.lang.Integer" parameterType="com.example.website.model.Criteria">
		select count(*)
		from tb_board
		<if test="titleSearch != null and titleSearch != ''">
			WHERE title LIKE CONCAT('%', #{titleSearch,jdbcType=VARCHAR},'%')
		</if>
	</select>

	<select id="selectBoard" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select id, title, content, view_count, date_time, user_id
		from tb_board
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectBoardByCommentId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select b.id, b.title, b.content, b.view_count, b.date_time
		from tb_board as b
		left join tb_comment as c on b.id = c.board_id
		where c.id = #{commentId,jdbcType=INTEGER}
	</select>

	<update id="updateBoard" parameterType="com.example.website.model.Board">
		UPDATE tb_board
		SET title=#{title,jdbcType=VARCHAR}, content=#{content,jdbcType=VARCHAR}, date_time = NOW(), view_count=#{viewCount,jdbcType=INTEGER}
		WHERE id = #{id,jdbcType=INTEGER}
	</update>

	<delete id="deleteBoard" parameterType="java.lang.Integer">
		DELETE
		FROM tb_board
		WHERE id = #{id,jdbcType=INTEGER}
	</delete>
</mapper>