<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.website.mapper.CommentMapper">
	<insert id="insertComment" parameterType="com.example.website.model.Comment">
        insert into tb_comment (board_id, comment, user_id)
        values (#{boardId,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER})
    </insert>

    <select id="selectCommentList" parameterType="java.lang.Integer" resultType="com.example.website.model.Comment">
        SELECT c.comment, c.id, u.id as userId, u.name as writer
		from tb_comment AS c
			LEFT JOIN tb_user AS u ON c.user_id = u.id
		WHERE c.board_id = #{boardId, jdbcType=INTEGER}
    </select>

    <select id="selectComment" parameterType="java.lang.Integer" resultType="com.example.website.model.Comment">
        select id, board_id as boardId, comment, user_id as userId
        from tb_comment
        where id = #{id, jdbcType=INTEGER}
    </select>

    <update id="updateComment" parameterType="com.example.website.model.Comment">
        UPDATE tb_comment
        SET COMMENT = #{comment,jdbcType=VARCHAR}
        WHERE id = #{id, jdbcType=INTEGER}
    </update>

    <delete id="deleteComment" parameterType="java.lang.Integer">
        delete
        from tb_comment
        where id = #{id, jdbcType=INTEGER}
    </delete>
</mapper>